---
name: Build (DigitalOcean)

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  packer-digitalocean:
    runs-on: ubuntu-latest
    name: packer-digitalocean

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Create venv
        run: uv venv
      - name: Install dependencies
        run: uv sync
      - name: Pre-build Ansible wrapper
        env:
          DO_API_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
        run: |
          ./vendor/ansible-wrapper.sh --version
          ./vendor/ansible-wrapper.sh vendor/digitalocean/pre-build.yaml
      - name: Install ansible roles
        run: |
          uv run ansible-galaxy install -p ./roles -r requirements.yml --verbose
      - uses: hashicorp/setup-packer@main
        with:
          version: "latest"
      - run: packer init .
      - run: packer validate -syntax-only .
      - run: packer build -color=false -force .
        env:
          AUTHENTIK_VERSION: 2025.10.2
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
